<footer class="footer contenedor">
  <div class="linea"></div>
  <ul class="menu-contacto">
    <li class="menu-item">
      <a 
        class="item-enlace icon-facebook azul"
        href="https://www.facebook.com/Hmc97"
        target="_blank">
      </a>
    </li>
    <li class="menu-item">
      <a 
        class="item-enlace icon-twitter celeste"
        href="https://twitter.com/hernanmc06?lang=es"
        target="_blank">
      </a>
    </li>
    <li class="menu-item">
      <a 
        class="item-enlace icon-github blanco"
        href="https://github.com/HernanCabrera"
        target="_blank">
      </a>
    </li>
    <li class="menu-item">
      <a 
        class="item-enlace icon-instagram marron"
        href="https://www.instagram.com/hernanmauriciocabrera/?hl=es-la"
        target="_blank">
      </a>
    </li>
  </ul>
</footer>